body, html {
    font-family: Cairo;
}
.table_prescription{
    direction: ltr;
}
.readed{
    background-color: rgba(245, 247, 247 , 0.6);
}

.new_notification{
    background-color: #F2F3F5;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.kt-notification-v2 .kt-notification-v2__item:hover {
    background-color: #BEC3C9;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

